[submodule "modules/KzLiveview"]
	path = modules/KzLiveview
	url = git@github.com:kazyx/KzLiveview.git
[submodule "modules/KzSoDiscovery"]
	path = modules/KzSoDiscovery
	url = git@github.com:kazyx/KzSoDiscovery.git
[submodule "modules/KzRemoteApi"]
	path = modules/KzRemoteApi
	url = git@github.com:kazyx/KzRemoteApi.git
[submodule "modules/NtNfcLib"]
	path = modules/NtNfcLib
	url = git@github.com:naotaco/NtNfcLib.git
[submodule "modules/NtImageLib"]
	path = modules/NtImageLib
	url = git@github.com:naotaco/NtImageLib.git
[submodule "modules/WP8Toolkit"]
	path = modules/WP8Toolkit
	url = git@github.com:kazyx/WP8Toolkit.git
