[submodule "modules/NtNfcLib"]
	path = modules/NtNfcLib
	url = git@github.com:naotaco/NtNfcLib.git
[submodule "modules/NtImageLib"]
	path = modules/NtImageLib
	url = git@github.com:naotaco/NtImageLib.git
[submodule "modules/WP8Toolkit"]
	path = modules/WP8Toolkit
	url = git@github.com:kazyx/WP8Toolkit.git
[submodule "modules/kz-ssdp-discovery"]
	path = modules/kz-ssdp-discovery
	url = git@github.com:kazyx/kz-ssdp-discovery.git
[submodule "modules/kz-remote-api"]
	path = modules/kz-remote-api
	url = git@github.com:kazyx/kz-remote-api.git
[submodule "modules/kz-image-stream"]
	path = modules/kz-image-stream
	url = git@github.com:kazyx/kz-image-stream.git
